#########################################################################
 # 
 #     █▀▀▄  ▀                     ▀▀█▀▀           ▀█  █
 #     █  █ ▀█  ▄▀▀▄ ▄▀▀▄ ▄▀▀▄       █   ▄▀▀▄ ▄▀▀▄  █  █▀▀▄ ▄▀▀▄ █▄▀
 #     █  █  █   ▀▄  █    █  █       █   █  █ █  █  █  █  █  ▄▄█ █
 #     █▄▄▀ ▄█▄ ▀▄▄▀ ▀▄▄▀ ▀▄▄▀       █   ▀▄▄▀ ▀▄▄▀ ▄█▄ █▄▄▀ ▀▄▄▀ █
 #
 #########  Customizable developer toolbar for Symfony projects  ########
 #
 # @author    Marcin Orlowski <mail (#) marcinOrlowski (.) com>
 # @copyright 2025-2026 Marcin Orlowski
 # @license   https://opensource.org/license/mit MIT
 # @link      https://github.com/MarcinOrlowski/php-discotoolbar-symfony
 #
#########################################################################


includes:
  - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
  level: max
  treatPhpDocTypesAsCertain: false
  paths:
    - src/
#    - tests/
